<div class="app">
    <small>One Way Data Binding</small>
    <p [innerText]="title"></p>
    <input type="text" [value]="title" />
    <input type="text" [ngModel]="title" />
    {{ title }}
    <button (click)="changeText()">CHANGE</button>
  
    <hr />
    <small>NgModel</small>
    <input type="text" (input)="generateTotal($event)" />
    <input type="text" [value]="total" />
  
    <hr />
    <small>NgModel with ngModelChange</small>
    <input
      type="text"
      [ngModel]="title"
      (ngModelChange)="changeTextWithNgModelChange($event)"
    />
  
    <hr />
    <small>Template Variable</small>
    <input type="text" #titles />
    <button (click)="getValue(titles.value)">GET VALUE</button>
    <button (click)="changeColor(titles)">CHANGE COLOR</button>
    <button (click)="addClass(titles)">ADD CLASS</button>
  
    <hr />
    <small>Change input style on wrong and right values</small>
    <input type="text" #age (input)="validateAge(age)" />
  </div>
  