<span class="status">
  {{ detail.name }}
  <div *ngIf="editing">
    <input
      type="text"
      [value]="detail.name"
      (input)="onNameChange(name.value)"
      #name
    />
  </div>
  <br />
  children: {{ detail.children?.length || 0 }}
  <ul>
    <li *ngFor="let child of detail.children; let i = index">
      <span>
        Name: {{ child.name }}
        <br />
        Age: {{ child.age }}
      </span>
    </li>
  </ul>

  <button (click)="toggleEdit()">
    {{ editing ? "Done" : "Edit" }}
  </button>

  <button (click)="onRemove()">Remove</button>
</span>
<hr />
