<small>TEMPLATE DRIVEN FORMS</small>
<form #form="ngForm" novalidate>
  <!-- <div>
    Passenger name:
    <input type="text" name="name" [ngModel]="detail?.fullname" />
  </div> -->
  <div>
    Passenger name:
    <input
      type="text"
      name="name"
      required
      #fullname="ngModel"
      [ngModel]="detail?.fullname"
    />
    {{ fullname.errors | json }}
    <div
      *ngIf="fullname.errors?.['required']
    && fullname.dirty
    "
      class="formError"
    >
      Name is required
    </div>
  </div>

  <div>
    Passenger ID:
    <!-- <input type="number" name="id" [ngModel]="detail?.id" /> -->
    <input
      type="number"
      name="id"
      required
      #id="ngModel"
      [ngModel]="detail?.id"
    />
    <div
      *ngIf="id.errors?.['required']
  && id.dirty
  "
      class="formError"
    >
      ID is required
    </div>
  </div>

  <div>
    <label>
      <input
        type="radio"
        [value]="true"
        name="checkedIn"
        [ngModel]="detail?.checkedIn"
        (ngModelChange)="toggleCheckIn($event)"
      />Yes
    </label>
    <label>
      <input
        type="checkbox"
        name="checkedIn"
        [ngModel]="detail?.checkedIn"
        (ngModelChange)="toggleCheckIn($event)"
      />{{ detail?.checkedIn }}
    </label>
  </div>

  <div *ngIf="form.value.checkedIn">
    Check In Date:
    <input type="number" name="checkInDate" [ngModel]="detail?.checkInDate" />
  </div>

  <div>
    Luggage:
    <select name="baggage" [ngModel]="detail?.baggage">
      <option
        *ngFor="let item of baggage"
        [value]="item.key"
        [selected]="item.key === detail?.baggage"
      >
        {{ item.value }}
      </option>
    </select>

    <small>another option</small>
    <select name="baggage" [ngModel]="detail?.baggage">
      <option *ngFor="let item of baggage" [ngValue]="item.key">
        {{ item.value }}
      </option>
    </select>
  </div>

   <button type="submit" [disabled]="form.invalid">
    UPDATE PASSENGER
   </button>
</form>
