<div>
  <input type="text" [value]="age" (input)="handleChange($event)" />
  <div *ngIf="age.length > 2">Emad</div>
  <hr />

  
  <small>Using ngFor</small>
  <ul>
    <li *ngFor="let emp of employees; let i = index">
      {{ i }} : {{ emp.name }}
    </li>
  </ul>
  <hr />
  <small>Using class decorator for single condition</small>
  <ul>
    <li *ngFor="let emp of employees; let i = index">
      <span [class.status]="emp.active"> {{ i }} : {{ emp.name }} </span>
    </li>
  </ul>


  <hr />
  <small>Using [ngClass] decorator for multiple condition</small>
  <ul>
    <li *ngFor="let emp of employees; let i = index">
      <span
        [ngClass]="{
          'checked-in': emp.active,
          'checked-out': !emp.active
        }"
      >
        {{ i }} : {{ emp.name }}
      </span>
    </li>
  </ul>


  <hr />
  <small>Using [style] decorator</small>
  <ul>
    <li *ngFor="let emp of employees; let i = index">
      <span [style.background-color]="emp.active ? 'red' : 'green'">
        {{ i }} : {{ emp.name }}
      </span>
    </li>
  </ul>


  <hr />
  <small>Using [ngStyle] decorator</small>
  <ul>
    <li *ngFor="let emp of employees; let i = index">
      <span
        [ngStyle]="{
          backgroundColor: emp.active ? 'red' : 'green',
          fontSize: emp.active ? '15px' : '10px'
        }"
      >
        {{ i }} : {{ emp.name }}
      </span>
    </li>
  </ul>


  <hr>
  <small>Using PIPES decorator</small>
  <ul>
    <li *ngFor="let emp of employees; let i = index">
      <span>
        {{ i }} : {{ emp.name }}
        <br>
        checked-in: {{emp.stamp | date: 'MMM d, y'}}
        <br>
        last checked-in: {{emp.stamp? (emp.stamp  | date: 'MMM d, y' | uppercase): 'Not In Yet'}}
      </span>
    </li>
  </ul>


  <hr>
  <small>Using Safe Navigation Operator</small>
  <ul>
    <li *ngFor="let emp of employees; let i = index">
      <span>
       {{ emp.name }}
        <br>
        children: {{ emp.children?.length || 0}}
        <ul>
            <li *ngFor="let child of emp.children; let i = index">
              <span>
                Name:  {{ child.name }}
                <br>
                Age:  {{ child.age }}
              </span>
            </li>
          </ul>
      </span>
      <br>
    </li>
  </ul>
</div>
